body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: Arial;
    margin: 10px;
}

.message {
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3
}

nav a, h1 {
    color: #ff2d50;
    font-size: 2em;
    margin-left: 50px;
    text-decoration: none;
}

.alert, .flash {
    animation: autoHide 1s forwards 3s;
}

.alert {
    padding: 12px;
    margin: 5px;
    color: rgb(162, 6, 55);
    background-color: rgb(255, 188, 197);
}

@keyframes autoHide {
    to {
        height:0;
        padding: 0px;
        margin: 0px;
        font-size: 0px;
        background-color: rgb(30, 30, 30);
        color: rgb(30, 30, 30);
    }
}

.content {
    margin-left: 10px;
}