
thead {
    background-color: white;
    color: black;
}

table {
    width: 85%;
    margin: 10px;
    margin-left: 50px;
}

td, th {
    padding: 3px;
}

table, td, th {
    border: 1px solid;
    border-color: white;
    border-collapse: collapse;
}

th {
    border-color: gray;
}

td.actions {
    width: 5%;
}

button.delete {
    background-color: rgb(255, 60, 60);
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

button.delete:hover {
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 5px;
    transition: 0.2s;
}

button.new {
    margin-left: 50px;
    background-color: rgb(255, 100, 10);
    padding: 5px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

button.new:hover {
    margin-left: 50px;
    background-color: rgb(255, 50, 0);
    padding: 5px;
    color: white;
    transition: 0.2s;
}