
form {
    margin-left: 50px;
}

.pokemonCardSpace {
    width: 70%;
}

.formGridElement {
    
}

.formGrid {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

button.add {
    background-color: rgb(255, 100, 10);
    padding: 5px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

button.add:hover {
    background-color: rgb(255, 50, 0);
    padding: 5px;
    color: white;
    transition: 0.2s;
}