<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="navigation">
            {% block navigation %}{% endblock %}
        </div>
        <div class="flash">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>