{% extends "base.html" %}

{% block navigation %}
    <nav>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('pokemons') }}">Pokemon</a>
        <a href="{{ url_for('myTeam') }}">My Team</a>
    </nav>
    <hr>
{% endblock %}

{% block content %}
{% endblock %}