{% extends "basenav.html" %}

{% block title %}Pokemon{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <!-- Video -->
    <section class="video">
        <iframe
            src="https://www.youtube.com/embed/nIeC7EVdXCA?&autoplay=1"
            title="YouTube video player"
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </section>
{% endblock %}