{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <h1>Please, enter your credentials</h1>
    <form method="post">
        <label for="user">User:</label>
        <input type="text"
            placeholder="root"
            name="user">
            <!-- value = {{ request.form['user'] }}-->
        </input>
        <br/>
        <label for="password">Password:</label>
        <input type="text" name="password"
            placeholder="root"
            name="password">
        </input>
        <br/>
        <button type="submit">Submit</button>
    </form>
{% endblock %}