
{% macro pokemonCard(pokemonJsonData, scale=1, selectable=False) -%}
    <div class="pokecard-{{pokemonJsonData['id']}} pokecard">
        {% if selectable == True %}
            <a href="{{ url_for('myTeamAddData', id=pokemonJsonData['id']) }}" class="pokecardLink">
                <div class="pokecard-subcolor">
                    <img src="{{ pokemonJsonData['sprites']['front_default'] }}" class="pokecard-img-{{pokemonJsonData['id']}}">
                    <p>#{{ pokemonJsonData['id'] }} {{ pokemonJsonData['name'].capitalize() }}</p>
                    <div class="pokemonTypes">
                        {% for pokemonType in pokemonJsonData['types'] %}
                            {{pokemonTypeBlock(pokemonType['type']['name'])}}
                        {% endfor %}
                    </div>
                </div>
            </a>
        {% else %}
            <div class="pokecard-subcolor">
                <img src="{{ pokemonJsonData['sprites']['front_default'] }}" class="pokecard-img-{{pokemonJsonData['id']}}">
                <p>#{{ pokemonJsonData['id'] }} {{ pokemonJsonData['name'].capitalize() }}</p>
                <div class="pokemonTypes">
                    {% for pokemonType in pokemonJsonData['types'] %}
                        {{pokemonTypeBlock(pokemonType['type']['name'])}}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <style>
        .pokecard {
            width: 100%;
            text-align: center;
            border-radius: {{10 * scale}}px;
            border-weight: 0px;
            font-size: {{14 * scale}}px;
        }
        .pokecard-img-{{pokemonJsonData['id']}} {
            width: 80%;
            margin-top: -{{10 * scale}}px;
            margin-bottom: -{{20 * scale}}px;
        }
        .pokecard-subcolor {
            background-color: rgba(0, 0, 0, 0.5);
            padding: {{10 * scale}}px;
            border-radius: {{10 * scale}}px;
        }
        {% if selectable == True %}
            .pokecard-subcolor:hover {
                background-color: rgba(0, 0, 0, 0.2);
                padding: {{10 * scale}}px;
                border-radius: {{10 * scale}}px;
            }
            .pokecard {
                width: 100%;
                text-align: center;
                border-radius: {{10 * scale}}px;
                border-color: white;
                border-weight: 2px;
                font-size: {{14 * scale}}px;
            }
            .pokecardLink {
                text-decoration: none;
                color: white;
            }
        {% endif %}
        .pokemonTypes {
            display: flex;
        }

        .pokecard-{{pokemonJsonData['id']}} {
            background-color: {{getColorByType(pokemonJsonData['types'][0]['type']['name'])}};
        }
    </style>
{%- endmacro %}


{% macro capturedPpokemonCard(pokemonJsonData, capturedPokemon, scale=1, showButtons=True) -%}
    <div class="pokecard-{{capturedPokemon.idPokemon}} pokecard">
        <div class="pokecard-subcolor">
            {% if capturedPokemon.isShiny == 0 %}
                <img src="{{ pokemonJsonData['sprites']['front_default'] }}" class="pokecard-img-{{capturedPokemon.idPokemon}}">
            {% else %}
                <img src="{{ pokemonJsonData['sprites']['front_shiny'] }}" class="pokecard-img-{{capturedPokemon.idPokemon}}">
            {% endif %}
            <p class="nickname">{{ capturedPokemon.nickname }}</p>
            <p>Lvl. {{ capturedPokemon.level }}</p>
            <div class="pokemonTypes">
                {% for pokemonType in pokemonJsonData['types'] %}
                    {{pokemonTypeBlock(pokemonType['type']['name'])}}
                {% endfor %}
            </div>
            {% if showButtons %}
                <div class="buttons">
                    <a href="{{ url_for('myTeamEdit', id=capturedPokemon.id) }}" class="buttons">
                        <img src="https://cdn-icons-png.flaticon.com/512/5251/5251816.png" class="buttonIcon">
                    </a>
                    <a href="{{ url_for('myTeamDelete', id=capturedPokemon.id) }}" class="buttons">
                        <img src="https://cdn-icons-png.flaticon.com/512/3687/3687412.png" class="buttonIcon">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <style>
        .pokecard {
            width: 100%;
            text-align: center;
            border-radius: {{10 * scale}}px;
            font-size: {{14 * scale}}px;
        }
        .pokecard-img-{{capturedPokemon.idPokemon}} {
            width: 80%;
            margin-top: -{{10 * scale}}px;
            margin-bottom: -{{20 * scale}}px;
        }
        .pokecard-subcolor {
            background-color: rgba(0, 0, 0, 0.5);
            padding: {{10 * scale}}px;
            border-radius: {{10 * scale}}px;
        }
        .pokemonTypes {
            display: flex;
        }

        p.nickname {
            margin-bottom: -10px;
        }
        .pokecard-{{capturedPokemon.idPokemon}} {
            background-color: {{getColorByType(pokemonJsonData['types'][0]['type']['name'])}};
        }

        div.buttons {
            margin-top: 10px;
        }

        a.buttons {
            width: 25%;
            flex: 1;
            margin-left: 5px;
            margin-right: 5px;
            text-decoration: none;
        }

        .buttonIcon {
            width: 20%;
        }
    </style>
{%- endmacro %}

{% macro pokemonTypeBlock(typeName) -%}
    <div class="pokemonType-{{typeName}}">
        {{typeName}}
    </div>
    <style>
        .pokemonType-{{typeName}} {
            border-radius: 3px;
            background-color: {{getColorByType(typeName)}};
            width: 30%;
            flex: 1;
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
{%- endmacro %}