{% extends "basenav.html" %}
{% import "macros.html" as macros %}

{% block title %}Pokemon{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myTeam.css') }}">
{% endblock %}

{% block content %}
    <div class="table-title">
        <h1>Your Captured Pokemon</h1>
        <form method="post">
            <button class="new" value="add" name="addPokemon">Add Pokemon</button>
        </form>
    </div>
    
    <div class="pokemonCards">
        {% for capturedPokemon in capturedPokemons %}
            {{ macros.capturedPpokemonCard(getPokemonById(capturedPokemon.idPokemon, pokemons), capturedPokemon) }}
        {% endfor %}
    </div>

    <style>
        .pokemonCards {
            display: grid;
            margin: 0 auto;
            gap: 1rem;
        }

        {% for i in range(1, 5 + 1) %}
            @media (min-width: {{i * (1200/5)}}px) {
                .pokemonCards { grid-template-columns: repeat({{i}}, 1fr); }
            }
        {% endfor %}
    </style>
    
{% endblock %}