{% extends "basenav.html" %}
{% import "macros.html" as macros %}

{% block title %}Pokemon{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemons.css') }}">
{% endblock %}

{% block content %}
    {% if selectable == True %}
        <div class="table-title">
            <h1>Select a Pokemon</h1>
        </div>
    {% else %}
        <div class="table-title">
            <h1>List of Pokemon</h1>
        </div>
    {% endif %}
    
    
    <div class="pokemonCards">
        {% for pokemon in pokemons %}
            {{ macros.pokemonCard(pokemon, scale, selectable) }}
        {% endfor %}
    </div>

    <style>
        .pokemonCards {
            display: grid;
            margin: 0 auto;
            gap: {{1 * scale}}rem;
        }

        {% for i in range(1, 5 + 1) %}
            @media (min-width: {{(i * scale) * (1200/5)}}px) {
                .pokemonCards { grid-template-columns: repeat({{castToInt(i / scale)}}, 1fr); }
            }
        {% endfor %}
    </style>

    {% if ammount < 151 %}
        <br/>
        <a href='{{ url_for("pokemons", ammount=(ammount + 21), selectable=selectable) }}' class="loadMore">Load more</a>
    {% endif %}
    
{% endblock %}