{% extends "basenav.html" %}

{% block title %}Pokemon{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemonQuery.css') }}">
{% endblock %}

{% block content %}
    <div class="table-title">
        <h1>Pokemon</h1>
        <form method="post">
            <button class="new" value="add" name="newPokemon">New Pokemon</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Level</th>
                <th>ATK</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pokemon in pokemons %}
                <tr class="trow-{{pokemon.idPokemon}}">
                    <td>{{pokemon.idPokemon}}</td>
                    <td>{{pokemon.name}}</td>
                    <td>{{pokemon.level}}</td>
                    <td>{{pokemon.atk}}</td>
                    <td>{{pokemon.color}}</td>
                    <td class="actions">
                        <form method="post">
                            <button class="delete" value="delete" type="submit" name="button-delete-{{pokemon.idPokemon}}">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>

                <style>
                    tr.trow-{{pokemon.idPokemon}}:hover {
                        background-color: {{pokemon.color}};
                        transition: 0.2s;
                    }
                    tr.trow-{{pokemon.idPokemon}} {
                        background-color: rgb(30, 30, 30);
                        transition: 0.2s;
                    }
                </style>
    
            {% endfor %}
        </tbody>
    </table>
{% endblock %}