{% extends "basenav.html" %}
{% import "macros.html" as macros %}

{% block title %}New Pokemon{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemonAdd.css') }}">
{% endblock %}

{% block content %}
    {% if capturedPokemonToEdit == None %}
        <h1>New Pokemon</h1>
    {% else %}
        <h1>Edit Pokemon</h1>
    {% endif %}
    <form method="post" class="formGrid">
        {% if capturedPokemonToEdit == None %}
            <div class="pokemonCardSpace formGridElement">
                {{ macros.pokemonCard(pokemon, scale, False) }}
            </div>
        {% else %}
            <div class="pokemonCardSpace formGridElement">
                {{ macros.capturedPpokemonCard(pokemon, capturedPokemonToEdit, scale, False) }}
            </div>
        {% endif %}

        {% if capturedPokemonToEdit == None %}
            <div class="formGridElement">
                <label for="nickname">Nickname</label>
                <br>
                <input type="text" name="nickname"
                    placeholder="{{ pokemon['name'].capitalize() }}"
                    value="{{request.form['nickname']}}">
                </input>
                <br><br>

                <label for="level">Level</label>
                <br>
                <input type="number" name="level"
                    placeholder="5"
                    value="{{ request.form['level'] }}">
                </input>
                <br><br>

                <input type="checkbox" name="isShiny" value="isShiny" {{ 'checked' if request.form['isShiny'] }}>
                <label for="isShiny">Shiny</label>
                <br><br>
                
                <button type="submit" class="add">Add</button>
            </div>
        {% else %}
            <div class="formGridElement">
                <label for="nickname">Nickname</label>
                <br>
                <input type="text" name="nickname"
                    placeholder="{{ capturedPokemonToEdit.nickname }}"
                    value="{{ capturedPokemonToEdit.nickname }}">
                </input>
                <br><br>

                <label for="level">Level</label>
                <br>
                <input type="number" name="level"
                    placeholder="{{ capturedPokemonToEdit.level }}"
                    value="{{ capturedPokemonToEdit.level }}">
                </input>
                <br><br>

                <input type="checkbox" name="isShiny" value="isShiny" {{ 'checked' if capturedPokemonToEdit.isShiny == 1 }}>
                <label for="isShiny">Shiny</label>
                <br><br>
                
                <button type="submit" class="add">Save</button>
            </div>
        {% endif %}

        
    </form>
{% endblock %}